[submodule "submodules/SoCo"]
	path = submodules/SoCo
	url = https://github.com/SoCo/SoCo.git
[submodule "submodules/--force"]
	path = submodules/--force
	url = https://github.com/coliff/dark-mode-switch.git
