<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SoCo - Sonos Web Controller</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body class="container">
        <div class="row">
            <div class="span6">
                <h1 id="track-title"></h1>
                <h2 id="track-artist"></h2>
                <h2 id="track-album"></h2>
                <div class="row">
                    <button id="previous" class="btn-large"><i class="icon-backward"></i> Previous</button>
                    <button id="pause" class="btn-large"><i class="icon-pause"></i> Pause</button>
                    <button id="next" class="btn-large"><i class="icon-forward"></i> Next</button>
                </div>
                <div class="row">
                    <button id="volume_down" class="btn-large"><i class="icon-volume-down"></i> Volume-</button>
                    <button id="volume_up" class="btn-large"><i class="icon-volume-up"></i> Volume+</button>
                    <button id="volume_mute" class="btn-large"><i class="icon-volume-off"></i> Mute</button>
                </div>
                <div class="row">
                    <button id="track_01" class="btn-large"><i class="icon-list"></i> FM4.ORF.AT</button>
                    <button id="track_02" class="btn-large"><i class="icon-list"></i> Radio PSR Live</button>
                    <button id="track_03" class="btn-large"><i class="icon-list"></i> Energy Sachsen</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="info" class="span12"></div>
            {% if track.image != None %}
            <div class="span6 card">
                <img id="track-image" src="{{ track.image }}">
            </div>
            {% endif %}
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script type="text/javascript">
            var currTrack = '';
            var playing = true;
            var mute = false;

            function checkChange() {
                $.getJSON('/info-light').done(function(data) {
                    $('#track-title').text(data['title']);

                    if (currTrack != data['title'])
                    {
                        loadData();
                    }
                });
            }

            function loadData() {
                $.getJSON('/info').done(function(data) {
                    $('#track-title').text(data['title']);
                    $('#track-artist').text(data['artist']);
                    $('#track-album').text(data['album']);
                    $('.card').empty();
                    $('.card').html('<span class="image-wrap card" style="position:relative; display:inline-block; background:url(' + data['image'] + ') no-repeat center center; width: 400px; height: 400px;" /><img style="opacity:0" id="track-image" src="' + data['image'] + '"></span>');

                    currTrack = data['title'];
                });
            }

            $(document).ready(function() {
                loadData();

                $("img").load(function() {
                    $(this).wrap(function(){
                        return '<span class="image-wrap ' + $(this).attr('class') + '" style="position:relative; display:inline-block; background:url(' + $(this).attr('src') + ') no-repeat center center; width: ' + $(this).width() + 'px; height: ' + $(this).height() + 'px;" />';
                    });
                    $(this).css("opacity","0");
                });

                setInterval("checkChange()", 1000);

                $('#next').click(function() {
                    $.ajax('/next');
                    loadData();
                });

                $('#previous').click(function() {
                    $.ajax('/previous');
                    loadData();
                });

                $('#pause').click(function() {
                    if (playing == true)
                    {
                        $.ajax('/pause');
                        playing = false;

                        $('#pause').html('<i class="icon-play"></i> Play');
                    }
                    else {
                        $.ajax('/play');
                        playing = true;

                        $('#pause').html('<i class="icon-pause"></i> Pause');
                    }
                });

                $('#volume_down').click(function () {
                    $.ajax('/volume_down');
                    if (mute == true) {
                        $.ajax('/volume_unmute');
                        mute = false;
                        $('#volume_mute').html('<i class="icon-volume-off"></i> Mute');
                    }
                });

                $('#volume_up').click(function () {
                    $.ajax('/volume_up');
                    if (mute == true) {
                        $.ajax('/volume_unmute');
                        mute = false;
                        $('#volume_mute').html('<i class="icon-volume-off"></i> Mute');
                    }
                });

                $('#volume_mute').click(function () {
                    if (mute == true) {
                        $.ajax('/volume_unmute');
                        mute = false;
                        $('#volume_mute').html('<i class="icon-volume-off"></i> Mute');
                    }
                    else {
                        $.ajax('/volume_mute');
                        mute = true;
                        $('#volume_mute').html('<i class="icon-volume-off"></i> Unmute');
                    }
                });

                $('#track_01').click(function () {
                    $.ajax('/track_01');
                });

                $('#track_02').click(function () {
                    $.ajax('/track_02');
                });

                $('#track_03').click(function () {
                    $.ajax('/track_03');
                });

            });
        </script>
   </body>
</html>
