<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.5.3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>SoCo - Sonos Web Controller</title>
</head>

<body class="container-fluid">

    {% block navbar %}
    {% if True %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SoCo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Streams
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button type="button" class="dropdown-item btn" id="track_01">FM4.ORF.AT</button>
                        <button type="button" class="dropdown-item btn" id="track_02">Radio PSR Live</button>
                        <button type="button" class="dropdown-item btn" id="track_03">Energy Sachsen</button>
                        <button type="button" class="dropdown-item btn" id="track_04">Sunshine Live</button>
                        <div class="dropdown-divider"></div>
                        <button type="button" class="dropdown-item btn" id="track_99">Something else here</button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="nav justify-content-center float-right">
            <div class="nav-link">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                    <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    {% endblock %}

    {% block content %}
    <div class="container-fluid">
        {% block app_content %}{% endblock %}
    </div>
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper-1.16.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-4.5.3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dark-mode-switch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/play-functions.js') }}"></script>
    {% endblock %}

</body>

</html>
