{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="page-header">
        <h1 id="track-title"></h1>
        <h2 id="track-artist"></h2>
        <h2 id="track-album"></h2>
    </div>
</div>
<div class="row">
    <div class="btn-group btn-group-lg" role="group" aria-label="Button groups">
        <button type="button" class="btn btn-secondary" id="previous">
            <span class="oi oi-media-step-backward" title="backward" aria-hidden="true"></span>
            Previous
        </button>
        <button type="button" class="btn btn-secondary" id="pause">
            <span class="oi oi-media-pause" title="pause" aria-hidden="true"></span>
            Pause
        </button>
        <button type="button" class="btn btn-secondary" id="next">
            <span class="oi oi-media-step-forward" title="forward" aria-hidden="true"></span>
            Next
        </button>
    </div>
    <div class="btn-group btn-group-lg" role="group" aria-label="Button groups">
        <button type="button" class="btn btn-secondary" id="volume_down">
            <span class="oi oi-volume-low" title="volume low" aria-hidden="true"></span>
            Volume-
        </button>
        <button type="button" class="btn btn-secondary" id="volume_up">
            <span class="oi oi-volume-high" title="volume high" aria-hidden="true"></span>
            Volume+
        </button>
        <button type="button" class="btn btn-secondary" id="volume_mute">
            <span class="oi oi-volume-off" title="volume off" aria-hidden="true"></span>
            Mute
        </button>
    </div>
</div>
<div class="row">
    <div id="info" class="span12"></div>
    {% if track.image != None %}
    <div class="span6 card">
        <img id="track-image" src="{{ track.image }}">
    </div>
    {% endif %}
</div>
{% endblock %}